#pie {
}
#pie > svg {
    display: inline-block;
    max-height: 300px;
    max-width: 300px;
    width: 20vw;
    height: 20vw;
}

#pie > div {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    text-shadow: 1px 1px 0px darkgrey; 
}
#pie select {
    border: none;
}
#jolokia {
}

#jolokia > #closed {
    margin: 0em;
    padding: 0em;
    background-color: white;
}

#jolokia > #closed > div {
    margin: .5em;
    background-color: lightgray;
    padding: .5em;
}
#jolokia > #closed > div > table {
    display: none;
}

#jolokia > div {
    margin: .5em;
    background-color: lightgray;
    padding: .5em;
    display: inline-block;
    float: left;
}

#jolokia > div > table {
    background-color: white;
}

#jolokia > div > table td {
    background-color: lightgrey;
    margin: .1em;
    padding: .05em;
    width: 15em;
    overflow: hidden;
}

